/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab&subset=latin,cyrillic-ext);
@import "slider";
$green : #56ccc8;
$gray : #dde2e4;
$dark-gray:#c5cdd1;
$white: #fff;
body{
	background: #48607b;
	overflow: hidden;
}

#menu{
	-webkit-box-shadow:0px 0px 0px $gray;

	width: 224px;
	height: 100%;
	-webkit-transform:translate3d(-224px,0,0);
	position:absolute;
	background: $dark-gray;
	-webkit-transition:.5s;
	.menu-header{

		padding:20px;
		background:$green;
		height: 20px;
		text-align: center;
			a{
				font-family: "Roboto";
				font-weight: bold;
				text-decoration: none;
				color:$white;
			}
	}

	ul{
		background-color: $white;

		width: 100%;
		li{
			width: 100%;
			height: 60px;
			border-bottom: solid 1px $gray;
			display: inline-block;
			a{
				padding-left: 60px;
				line-height: 55px;
				display: block;
				background-position: 20px center;
				background-repeat: no-repeat;
				font-size: 18px;
				text-decoration: none;
				color:#475055;
				font-family: 'Roboto Condensed', sans-serif;
			}

			a.home{
				background-image: url('../../images/lm_home_icon.png');
			}

			a.store{
				background-image: url('../../images/lm_store_icon.png');
				background-position: 18px center; 
			}

			a.blog{
				background-image: url('../../images/lm_shop_icon.png');
				background-position: 22px center; 
			}

			a.community{
				background-image: url('../../images/lm_communiti_icon.png');
			}

			a.contests{
				background-image: url('../../images/lm_cup_icon.png');
			}

			

			a.about{
				background-image: url('../../images/lm_info_icon.png');
			}

			a.contact{
				background-image: url('../../images/lm_contact_icon.png');
			}
		}
	}
}

#menu.opened{
		
		position:absolute;
		-webkit-transform:translate3d(0,0,0);
		-webkit-box-shadow:2px 0px 5px #333;
	ul{
		display: block;
		width: 100%;
		li{
			width: 100%;

		}
	}
		
}

#content{
	width: 100%;
	-webkit-transform:translate3d(0,0,0);
	-webkit-transition:.5s;
}

#content.moved{
		-webkit-transform:translate3d(224px,0,0);
}


header{
	width: 100%;
	height: 60px;
	background: #ffffff;

	ul.left{
		display: inline-table;
		float: left;
		li{
			float:left;
			height: 60px;
			min-width: 60px;
		}

		li a.menu-button{
			width: 60px;
			background: $green;
			height: 60px;
			position: absolute;
			background-image: url('../../images/menu-icon.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		li.nav{
			ul{
				height: 60px;
				display: inline;

				li{
					@media screen and(min-width:640px){
						margin-left: 20px;
					}
					@media screen and(min-width: 320px) and (max-width: 640px){
						margin-left: 4px;
					}
					margin-left: 30px;
					line-height: 60px;
					a{
						text-decoration: none;
						font-size: 18px;
						font-family: 'Roboto Condensed', sans-serif;
						color:#475055;

					}
					a:hover{
						color:#56ccc8;
					}
				}
			}
		}
	}

	ul.right{
		float:right;
		display: inline;
		li{
			display: inline;
			float: left;
			width: 60px;
			height: 60px;
			a.search{
				@media screen and(min-width: 480px){
					background-color:$green;
				}

				@media screen and(min-width: 640px){
					background-color: $white;
				}

				@media screen and(min-width: 320px) and (max-width: 480px){
					display: none;
				}


				
				width: 59px;
				height: 60px;
				position: absolute;
				background:url(../../images/search_icon.png) no-repeat center;
				border-right: solid 1px $gray;
			}
		}

		li.social-icon-holder{

			@media screen and(max-width: 550px){
				display: none;
			}

			min-width: 120px;
			display: inline;
			border-right: solid 1px $gray;

				a{
					float: left;
					background-repeat:no-repeat;
					height: 60px;
					width: 40px;
					background-position: center;
				}

				a.facebook{
					background-image: url(../../images/facebook_icon.png);
				}		
				a.twitter{
					background-image: url(../../images/twitter_icon.png);
				}		
				a.google{
					margin-top:2px;
					background-image: url(../../images/google_icon.png);
				}	
		}


		li.login{
			@media screen and(max-width: 640px){
				display: none;
			}
			a{
				background: url(../../images/login_icon.png) no-repeat center;
				width: 60px;
				height: 60px;
				position: absolute;
			}
		}
	}
}

#slider{
	.wrapper{
		width: 100%;
		height: 320PX;
		background: #787878;
	}
}
