/* line 1, ../sass/slider.scss */
#carousel {
  height: 420px;
  background: #fff;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
@media (min-width: 960px) {
  /* line 1, ../sass/slider.scss */
  #carousel {
    width: 960px;
    position: relative;
  }
}
/* line 15, ../sass/slider.scss */
#carousel .left {
  width: 60px;
  height: 420px;
  position: absolute;
  float: left;
}
/* line 21, ../sass/slider.scss */
#carousel .right {
  position: absolute;
  float: left;
  height: 420px;
  width: 60px;
  right: 0px;
}
/* line 30, ../sass/slider.scss */
#carousel .arrow a {
  margin-top: 160px;
  width: 60px;
  height: 80px;
  opacity: 0.75;
  font-family: "Roboto";
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  color: #333;
  z-index: 100;
  position: absolute;
  background: #fff;
}
/* line 45, ../sass/slider.scss */
#carousel .holder {
  width: 100%;
  max-height: 420px;
  overflow: hidden;
  float: left;
}
/* line 50, ../sass/slider.scss */
#carousel ul {
  display: inline-table;
}
/* line 53, ../sass/slider.scss */
#carousel ul li {
  float: left;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 60, ../sass/slider.scss */
#carousel ul li .holder img {
  position: relative;
  max-height: 420px;
  width: 100%;
}
